/* css stub */
.acf-label p.description,
.notice.notice-warning {
	position: relative;
	padding: 0.33rem 1.25rem;
	margin: 0.66rem 0 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.acf-label p.description {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
.notice.notice-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}
.acf-accordion.-open .acf-label.acf-accordion-title {
    background-color: lightslategrey;
    color: white;
}
.acf-accordion.-open > .acf-accordion-content {
	background-color: #faf0e6;
	background-color: linen;
	color: inherit;
}
